<div class="badges">
                            <a class="badge-link" href="https://play.google.com/store/apps/details?id=org.seadvocacy.docsrchout"><img src="{{request.static_url('gist:static/google-play-badge.svg')}}" alt="Google Play badge" width=130px></a>
                            <a class="badge-link" href="https://itunes.apple.com/us/app/dro-health/id1397568078"><img src="{{request.static_url('gist:static/app-store-badge.svg')}}" alt="App Store badge"></a>
                        </div>